.entity {
  .title {
    font-family: @title-font-family;
    font-size: @large-size;
    line-height: 3rem;
    font-weight: bolder;
    color: @main-color;

    &:hover {
      color: @alt-color;
    }
  }

  .meta {
    color: @light-color;
    font-size: 0.7rem;

    .tag-link {
      color: @light-color;

      &:hover {
        color: @alt-color;
      }
    }
  }

  .excerpt {
    margin-bottom: 3.2rem;
  }

  .content {
    padding-top: 2.7rem;
    @import "_markdown.less";

    p {
      // color: #4a4a4a;
    }
  }
}
