<footer>
  <div class="container">
    &copy; <%- date(Date.now(), "YYYY") %> <%- config.author %>
    <br>
    Powered by <a href="https://hexo.io">Hexo</a> | Theme by <a href="https://ix.rw">Neo</a>
  </div>
</footer>
