<header>
  <div class="container">
    <div class="brand">
      <a href="/"><%- config.title %></a>
    </div>
    <div class="nav right">
      <a href="/me">About</a>
    </div>
  </div>
</header>
