<header>
  <div class="container">
    <div class="brand">
      <a href="/"><%- config.logo %></a>
    </div>
    <% if(config.menu) { %>
    <div class="nav right">
      <% Object.keys(config.menu).forEach(function(name) { %>
      <a href="<%-config.menu[name]%>"><%-name%></a>
      <% }) %>
    </div>
    <% } %>
  </div>
</header>
