@charset "utf-8";
// Fonts
@fallback-font-family: Avenir,Tahoma,Arial,PingFang SC,Lantinghei SC,Microsoft Yahei,Hiragino Sans GB,Microsoft Sans Serif,WenQuanYi Micro Hei,Helvetica,sans-serif;
@base-font-family: @fallback-font-family;
@title-font-family: 'Google Sans', 'Ubuntu', @fallback-font-family;

// Colors
@main-color: #000;
@alt-color: #777;
@light-color: #ccc;
@gray: #adb5bd;

// Siezs
@large-size: 2.4rem;
@common-size: 1rem;
@small-size: .77rem;

// Imports
@import "less/_base.less";
@import "less/_header.less";
@import "less/_footer.less";
@import "less/_entity.less";
